click==8.1.7
colorama==0.4.6
edalize==0.5.4
Jinja2==3.1.3
MarkupSafe==2.1.5
platformdirs==4.2.0
PyYAML==6.0.1
teroshdl==3.0.0
vsg==3.22.0
vunit_hdl==4.7.0
wasmtime==18.0.2
yowasp-runtime==1.52
yowasp-yosys==0.38.0.0.post669
